<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.common.tools" >
    <application>
        <provider
            android:authorities="${applicationId}.provider"
            android:name=".provider.CommonProvider"
            android:exported="false"/>
    </application>
</manifest>
